<section class="cart">
<div class="cart-item" data-key="{{ item.key }}">
    <div class="cart-item_info">
        <div class="cart-item-image">
            <a href="{{ item.product.url }}"><img loading="lazy" src="{{ item.image | img_url:'80x80' }}" alt=""/></a>
            
        </div>
        <div class="cart-item-product">
            <div class="cart-item-product_left">
                <h4>{{ item.product.title }}</h4>
                {% if item.variant.title != "Default Title" %}
                    <p class="cart-item_title">{{ item.variant.title }}</p>
                {% endif %}
            </div>
           <div class="cart-item-product_right">
            <div class="cart-item-block">
                <div class="cart-item-quantity">
                    <div class="cart-quantity-selector quantity-selector">
                        <button type="button" class="minus">
                            -
                        </button>
                        <input name="updates[]" type="text" value="{{ item.quantity }}">
                        <button type="button" class="plus">
                            +
                        </button>
                    </div>
                </div>
                <div class="cart-item-total">
                    <span class="line-item-price">{{ item.final_line_price | money }}</span>
                </div>  
            </div>
            <div class="cart-item-remove">
                <a class="remove-item" href="{{ item.url_to_remove  }}">Remove</a>
            </div>
           </div>
            
        </div>
    </div>
    
   
  </div>
</section>

  <style>
    .line-item-price{ 
        font-size: 14px;
        font-family: "Open Sans";
        font-weight: 600;
        line-height: 24px;
        color: #111827;
    }
    .cart-item-block{
        display: flex;
        justify-content: space-between;
    }
    .cart-item_title{
        margin: 0;
        font-size: 12px;
    }
    .cart-item_info{
        display: flex;
        align-items: center;
        gap:10px;
    }
    .cart-item-product p ,h3{
        margin: 0;
    }
    .cart-item-product{
        flex: 1;
    }
    .quantity-selector{
        display: flex;
        justify-content: space-between;
        width: 93px;
        height: 24px;
        border: 1px solid;
        border-radius: 24px;
      }
      .quantity-selector input{
        width: 20px;
        border: none;
        text-align: center;
      }
      .quantity-selector button{
        background: none;
      }

    .cart-item-remove{
        margin-top: 10px;
    }
    .cart-item-remove a{
        text-decoration: none;
       color: #036672;
       font-size: 12px;
       font-family: "Open Sans";
        font-weight: 400;
    }
  </style>