<section class="drawer" id="drawer-name" data-drawer-target>
    <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
    <div class="drawer__wrapper">
      <div class="drawer__header">
        <div class="drawer__title">
          <h4>YOUR CART ({{ cart.item_count }})</h4>
        </div>
        <button class="drawer__close" data-drawer-close aria-label="Close Drawer"></button>
      </div>
      <div class="drawer__content">
        <div id="drawer-items">
          <div class=" cart" data-money-format="{{ shop.money_format }}">
            <div class="width">
              {%- form 'cart', cart -%}  
                {%- if cart.empty? -%}
                  <div class="cart-empty">
                    <p>Your shopping bag is empty.</p>
                    <a class="button empty-cart" href="/collections/all">Keep shopping</a>
                  </div>
                  
                {%- else -%}
                <div class="cart-loader">
                  <h4>Loading please wait ...</h4>
                </div>
                <div class="cart-items_container">
                  {% for item in cart.items %}
                      {% render 'cart-item', item: item %}
                  {% endfor %}
                </div>
                  <div class="cart-bottom">
                    <div class="cart-totals">
                      <p>Subtotal:</p><p><strong id="total-price">{{ cart.total_price | money }}</strong></p>
                    </div>
                    {% render 'gift-wrap' %}
                    <div class="cart-buttons">
                      <button type="submit" class="product-add button full" name="checkout">Checkout</button>
                    </div>
                  </div>
                  
                {%- endif -%}
                
              {%- endform -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {{ 'cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'cart.js' | asset_url | script_tag }}
  {{ 'cart-drawer.js' | asset_url | script_tag }}

  <style>
    .product-add{
      border-radius:16px ;
      background-color: #DCD932;
      padding: 5px ;
      margin-top: 24px;
    }
  </style>